<a href="https://colab.research.google.com/github/sukanyaganik14-collab/practice/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS IN PYTHON

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'2.2.2'

In [ ]:
list_s = [1,2,-6,8.9,'data values']
print(list_s)

[1, 2, -6, 8.9, 'data values']

In [ ]:
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -6
3            8.9
4    data values
dtype: object

In [ ]:
type(series1)

pandas.core.series.Series

In [ ]:
series2 = pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: object)

assigning index

In [ ]:
series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

declaring a datatype

In [ ]:
series4 = pd.Series([5,6,7,8], index =['e','f','g','h'], dtype = float)
print(series4)

e    5.0
f    6.0
g    7.0
h    8.0
dtype: float64

giving a column name

In [ ]:
series5 = pd.Series([73,74,76],index = ['suchi','sukanya','barsha'], name= 'roll numbers')
print(series5)

suchi      73
sukanya    74
barsha     76
Name: roll numbers, dtype: int64

for declaring single (scalar) values

In [ ]:
scalar_s = pd.Series(0.5)
print(scalar_s)

0    0.5
dtype: float64

for declaring same value for different index

In [ ]:
scalar_s = pd.Series('mca', index =['suchi','sukanya','barsha'])
print(scalar_s)

suchi      mca
sukanya    mca
barsha     mca
dtype: object

create from dictionary

In [ ]:
dict_s = pd.Series({'a':1, 'b':2})
print(dict_s)

a    1
b    2
dtype: int64

# operators

In [ ]:
s6 = pd.Series([1,2,3,4,5,6])
print(s6)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

to access the value

In [ ]:
s6[0]

np.int64(1)

In [ ]:
s6[4]

np.int64(5)

slicing values by using index

In [ ]:
s6[0:4]

0    1
1    2
2    3
3    4
dtype: int64

max and min function

In [ ]:
print(max(s6))
print(min(s6))

6
1

In [ ]:
s6[s6 > 2]

2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
s6

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
s7 = pd.Series([1,2,3,4,5,6])
print(s7)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
s6

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
s7

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

adding two series

In [ ]:
s6+s7

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [ ]:
s5 = pd.Series([1,2,3])
print(s5)

0    1
1    2
2    3
dtype: int64

adding unequal data (it handles missing data)

In [ ]:
s5 + s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

subtracting two series

In [ ]:
s6-s7

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

# DATA FRAMES IN PANDAS

how to create a dataframe

In [ ]:
import pandas as pd

empty dataframe

In [ ]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

creating dataframe using list

In [ ]:
lst = ['sukanya','suchitra','barsha']
print(lst)

['sukanya', 'suchitra', 'barsha']

creating dataframe using the above creates list

In [ ]:
df1 = pd.DataFrame(lst)
print(df1)

          0
0   sukanya
1  suchitra
2    barsha

In [ ]:
df1

          0
0   sukanya
1  suchitra
2    barsha

from matplotlib import pyplot as plt
import seaborn as sns
df1.groupby(0).size().plot(kind='barh', color=sns.palettes.mpl_palette('Dark2'))
plt.gca().spines[['top', 'right',]].set_visible(False)

In [ ]:
lst_of_lst =[[1,2,3],[2,3,4],[4,5,6]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [ ]:
df2 = pd.DataFrame(lst_of_lst)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

creating a python dictionary

In [ ]:
dict1 = {'ID':[11,22,33,44]}
dict1